<!-- use for all parks page (and home.scss) -->

<div class='col-md-8 col-md-offset-2'>
    <div ng-repeat='park in vm.parks' ng-click="vm.setWeather(park.location.lat, park.location.long); vm.setPark(park._id); vm.menu()" class="col-md-4 park" ui-sref="park">
        <div class="parkImage">
            <img src="{{park.images[0]}}">
        </div>
        <div class="parkName"><b>{{park.name}}</b></div>
    </div>

    <div class="mapTitle">
        <hr>
        <h1>Sniff for Parks in your area</h1>
    </div>

        <!-- all parks map -->
    <div id="allMap"></div>	

</div>
