 <!--use for single park page (and park.scss)  -->

<div class="col-md-5 col-md-offset-1 singlePark">
    <div class="slickCarousel col-md-12">
        <div class="wrapper">
            <ul class="bxslider">
                <li ng-repeat="slide in vm.slides"><img ng-src="{{slide.image}}" /></li>
            </ul>
        </div>
    </div>

    <div ng-repeat='park in vm.park'class="col-md-12 park">
        <h2><b>{{park.name}}</b></2>
        <h3>{{park.address}}</h3>
        <div>
            <p>{{park.description}}</p>
        </div>

        <div class="backHome" ui-sref="home">  <!-- go back to home page -->
            <h3><i class="fa fa-home" aria-hidden="true"></i></h3>
        </div>
    </div>

</div>

<div class="col-md-5 col-md-offset-1">
        <h5>Current Park Conditions</h5>

        <div id="weatherGoesHere" class="col-md-12">  <!-- weather  -->

            <div class="iconDiv col-md-6">
                <img class="icon" ng-src="{{vm.iconUrl}}">
            </div>

            <div class="descriptionDiv col-md-6">
                <div class="tempDiv col-md-12">
                    <p class="temp">{{vm.weather.main.temp}}°F</p>
                </div>
                <div class="conditionDiv col-md-12">
                    <p class="condition">{{vm.weather.weather[0].description}}</p>
                </div>
            </div>

        </div>

        <div class="col-md-12" id="singleMap"></div>      <!-- individual park map -->
</div>
