// Mobile Menu

$bar-width: 30px;
$bar-height: 3px;
$bar-spacing: 8px;
.hamburgerMenu {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 27px;
  margin-right: 60px;
  width: $bar-width;
  height: $bar-height + $bar-spacing*2;
  cursor: pointer;
}
.bar, .bar:after, .bar:before {
  width: $bar-width;
  height: $bar-height;
}
.bar {
  position: relative;
  transform: translateY($bar-spacing);
  background: white;
  transition: all 0ms 200ms;
  
  &.animate {
    background: rgba(255, 255, 255, 0); 
  }
}
.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: $bar-spacing;
  background: white;
  transition: bottom 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: $bar-spacing;
  background: white;
  transition: top 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1);;
}
.bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1);;
}

//Hidden Menu
.hiddenMenu{
  display: block;
  height: 100%;
  width: 100%;
  background: #292F36;
  background: rgba(0,0,0,0.8);
  position: fixed;
  z-index: 999;
  
  text-align: center;
  h4{
    font-size: 30px;
    padding-bottom: 20px;
    cursor: pointer;
  }
  h4:hover{
        color: #4ECDC4;
        transition: all .4s ease;
  }
  .socialMedia{
    float: none;
    font-size: 40px;
    padding-top: 0;
  }
}
.paddingTop{
  padding-top: 80px;
}
.hiddenMenu{
  transition: .3s ease-in-out;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
}
.navMenuHidden{
  transform: translateY(-115%) !important;
}
.navMenuVisible{
  transform: translateY(0%);
}