// Mobile Menu
.mobileMenu {
    .paw{
        cursor: pointer;
    }
}
.hide{
    display: none;
}
.show{
    display: block;
}
.hiddenMenu{
    background-color: rgba(32,32,32,.6);
    text-align: center;
    color: whitesmoke;
}