// Mobile Menu




//Hidden Menu

.hiddenMenu{
  display: block;
  height: 100%;
  width: 100%;
  background: #292F36;
  background: rgba(0,0,0,0.8);
  position: fixed;
  z-index: 999;
  text-align: center;
  h4{
    font-size: 30px;
    padding-bottom: 20px;
    cursor: pointer;
  }
  h4:hover{
        color: #4ECDC4;
        transition: all .4s ease;
  }
  .socialMedia{
    float: none;
    font-size: 40px;
    padding-top: 0;
  }
}

.paddingTop{
  padding-top: 80px;
}

.hiddenMenu{
  transition: .3s ease-in-out;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
}

.navMenuHidden{
  transform: translateY(-115%) !important;
}

.navMenuVisible{
  transform: translateY(0%);
}